{% extends 'base.html.twig' %}

{% block body %}

    <h2>Here are your results:</h2>
    <ul>
        <li>{{ number }}</li>
        <li>{{ brand }}</li>
        <li>{{ name }}</li>
        <li>{{ price }}</li>
        <li>{{ quantity }}</li>
        <li>{{ store }}</li>
    </ul>

{% endblock %}